{% extends "ereuse_devicehub/base_site.html" %}
{% block main %}

<div class="pagetitle">
  <h1>{{ title }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ page_title }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-6">

      <div class="card">
        <div class="card-body">

          <div class="pt-6 pb-2">
            <div class="row pt-3">
              <div class="col">
                <form method="post">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">PHID</th>
                      <th scope="col" class="text-center">Erasure Host</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for host in form.kangaroos %}
                  <tr>
                    <td>{{ host.phid }}</td>
                    <td class="text-center">
                      <a href="{{ url_for('workbench.erasure_host', id=host.id) }}"><i class="bi bi-x-lg"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td>
                      {% for f in form %}
                        {{ f }}
                        {% if f == form.phid and f.errors %}
                          <p class="text-danger">
                            {% for error in f.errors %}
                              {{ error }}<br/>
                            {% endfor %}
                          </p>
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td class="text-center">
                      <input type="submit" class="btn btn-primary" value="Add new host" />
                    </td>
                  </tr>
                  </tbody>
                </table>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="card">
        <div class="card-body">

          <div class="pt-6 pb-2">
            <div class="row pt-3">
              <div class="col">
                  <p>Please download the ISO file and the settings file of the
                  version you want and follow these steps
                  <a href="https://help.usody.com/es/setup/setup-pendrive/" target="_blank" class="help">steps</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">

      <div class="card">
        <div class="card-body">

          <div class="pt-6 pb-2">
            <h5 class="card-title pb-0 fs-4">Usody Metadata Snapshots</h5>

            <div class="row">
              <div class="col-2">
                <a href="{{ iso_register.url }}{{ iso_register.iso }}" class="btn btn-primary" style="max-width: 200px;">
                  Download ISO
                </a>
              </div>
              <div class="col-3">
                <p class="small">
                  Download Checksum: <a class="help" href="{{ iso_register.url }}SHA512SUM">SHA512SUM</a> |
                  <a href="https://help.usody.com/es/setup/setup-pendrive/" target="_blank" class="help">Help</a>
                </p>
              </div>
              <div class="col"></div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <div class="border mr-2 p-2">
                  <h5>Hardware Capture</h5>
                  <p>HW Metadata Capture and Smart test</p>
                  <a href="{{ url_for('workbench.settings') }}?opt=register" class="btn btn-primary" style="width: 100%">Download settings file</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  {% if not demo %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">

          <div class="pt-8 pb-2">
            <h5 class="card-title pb-0 fs-4">Usody Erasure Snapshots</h5>

            <div class="row">
              <div class="col-2">
                <a href="{{ iso_erease.url }}{{ iso_erease.iso }}" class="btn btn-primary" style="max-width: 200px;">
                  Download ISO
                </a>
              </div>
              <div class="col-3">
                <p class="small">
                  Download Checksum: <a class="help" href="{{ iso_erease.url }}SHA512SUM">SHA512SUM</a> |
                  <a href="https://help.usody.com/es/setup/setup-pendrive/" target="_blank" class="help">Help</a>
                </p>
              </div>
              <div class="col"></div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <div class="border mr-2 p-2">
                  <h5>Basic Erasure</h5>
                  <p>
                    Settings for basic data erasure using shred Linux command.
                    A software-based fast non-100%-secured way of erasing data storage.
                  </p>              
                  <p>
                    Performs 1 pass overwriting one round using all zeros. Compliant with NIST SP-800-88
                  </p>
                  <a href="{{ url_for('workbench.settings') }}?opt=erease_basic" 
                  class="btn btn-primary" 
                  style="width: 100%;">
                  Download settings file
                  </a>
                </div>
              </div>

              <div class="col-3">
                <div class="border mr-2 p-2">
                  <h5>Baseline Secure Erasure</h5>
                  <p>
                    Settings for advanced data erasure using badblocks Linux software.
                    A secured-way of erasing data storages, erase hidden areas, checking the erase sector by sector.
                  </p>  
                  <p>
                    Performs 1 pass overwriting each sector with zeros and a final verification.
                    Compliant with HMG Infosec Standard 5 Baseline.
                  </p>              
                  <a href="{{ url_for('workbench.settings') }}?opt=erease_sectors" 
                  class="btn btn-primary" 
                  style="width: 100%;">
                  Download settings file
                  </a>
                </div>
              </div>

              <div class="col-3">
                <div class="border mr-2 p-2">
                  <h5>Enhanced Secure Erasure</h5>
                  <p>
                    Settings for advanced data erasure using badblocks Linux software.
                    A secured-way of erasing data storages, erase hidden areas, checking the erase sector by sector.
                  </p>
                  <p>
                    Performs 3 passes overwriting every sector with zeros and ones, and final verification.
                    Compliant with HMG Infosec Standard 5 Enhanced.
                  </p>           
                  <a href="{{ url_for('workbench.settings') }}?opt=erease_sectors" 
                  class="btn btn-primary" 
                  style="width: 100%;">
                  Download settings file
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  {% endif %}

</section>
{% endblock main %}
