{% extends "ereuse_devicehub/base_site.html" %}
{% block main %}

<div class="pagetitle">
  <h1>{{ title }}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ page_title }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-6">

      <div class="card">
        <div class="card-body">

          <div class="pt-6 pb-2">
            <h5 class="card-title text-center pb-0 fs-4">Workbench 2022</h5>
            {% if not demo %}
            <div class="row pt-3">
              <div class="col-5">
                <a href="{{ url_for('workbench.settings') }}?opt=register" class="btn btn-primary">Get settings for register devices</a>
              </div>
              <div class="col">
              </div>
            </div>
            {% if 2022_iso %}
            <div class="row pt-3">
              <div class="col-5">
                <a href="/static/iso/2022/{{ 2022_iso }}" class="btn btn-primary">Get {{ 2022_iso }}</a>
              </div>
              <div class="col">
                <p class="small">
                  Download Checksum: <a style="color: #993365;" href="/static/iso/2022/SHA512SUMS">SHA512SUMS</a> |
                </p>
              </div>
            </div>
            {% endif %}

            {% else %}

            {% if iso %}
            <div class="row pt-3">
              <div class="col-5">
                <a href="/static/iso/demo/{{ iso }}" class="btn btn-primary">{{ iso }}</a>
              </div>
              <div class="col">
                <p class="small">
                  Download Checksum: <a style="color: #993365;" href="/static/iso/demo/SHA512SUMS">SHA512SUMS</a>
                </p>
              </div>
            </div>
            {% endif %}
            {% endif %}
          </div>

        </div>

      </div>

    </div>

    <div class="col-xl-8">
    </div>
  </div>
</section>
{% endblock main %}
