{% extends "ereuse_devicehub/base.html" %}

{% block page_title %}Login{% endblock %}

{% block body %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="{{ url_for('core.login') }}" class="logo d-flex align-items-center w-auto">
                <img src="{{ url_for('static', filename='img/logo_usody_clock.png') }}" alt="">
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                {% if is_valid %}
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">User is valid</h5>

                  <div class="col-12">
                    Your new user is activate.</br />
                    Now you can do <a style="color: #cc0066;" href="{{ url_for('core.login') }}">Login</a> and entry.
                  </div>
                </div>
                {% else %}
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">User is Invalid</h5>
                  <div class="row">
                    <div class="col-12 text-center">
                      <span class="text-danger">Invalid</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      Sorry, your token not exist or is expired.
                    </div>
                  </div>
                </div>
                {% endif %}

              </div>
            </div>

            <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->

{% endblock body %}
