{% extends "ereuse_devicehub/base.html" %}

{% block page_title %}Login{% endblock %}

{% block body %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="{{ url_for('core.login') }}" class="logo d-flex align-items-center w-auto">
                <img src="{{ url_for('static', filename='img/logo_usody_clock.png') }}" alt="">
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Register as a new User</h5>
                  {% if not form._token %}
                  <p class="text-center small">Enter an Email & password for to do a new register.</p>
                  {% if form.form_errors %}
                  <p class="text-danger">
                    {% for error in form.form_errors %}
                      {{ error }}<br/>
                    {% endfor %}
                  </p>
                  {% endif %}
                </div>

                <form method="post" class="row g-3 needs-validation" novalidate>
                  {{ form.csrf_token }}

                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="yourEmail" required value="{{ form.email.data|default('', true) }}">
                    <div class="invalid-feedback">Please enter your email.</div>
                    {% if form.email.errors %}
                    <p class="text-danger">
                      {% for error in form.email.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Please enter a password!</div>
                  </div>

                  <div class="col-12">
                    <label for="password2" class="form-label">Password</label>
                    <input type="password" name="password2" class="form-control" id="password2" required>
                    <div class="invalid-feedback">Please enter a password again!</div>
                  </div>

                  <div class="col-12">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" class="form-control" id="name" required>
                    {% if form.name.errors %}
                    <p class="text-danger">
                      {% for error in form.name.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <label for="telephone" class="form-label">Telephone</label>
                    <input type="tel" name="telephone" class="form-control" id="telephone" required>
                    {% if form.telephone.errors %}
                    <p class="text-danger">
                      {% for error in form.telephone.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Register</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      You have account? <a href="{{ url_for('core.login') }}">do Login</a>
                    </p>
                  </div>
                </form>
                {% else %}
                </div>
                <div class="col-12 p-4">
                  We have sent you a validation email.<br />
                  Please check your email.
                </div>
                {% endif %}

              </div>
            </div>

            <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
{% endblock body %}
