{% extends "ereuse_devicehub/base.html" %}

{% block page_title %}Create your account{% endblock %}

{% block body %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="{{ url_for('core.login') }}" class="d-flex align-items-center w-auto">
                <img src="{{ url_for('static', filename='img/usody_logo_transparent_noicon-y-purple-120x41.png') }}" alt="">
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4 help">Create your account</h5>
                  {% if not form._token %}
                  {% if form.form_errors %}
                  <p class="text-danger">
                    {% for error in form.form_errors %}
                      {{ error }}<br/>
                    {% endfor %}
                  </p>
                  {% endif %}
                </div>

                <form method="post" class="row g-3 needs-validation" novalidate>
                  {{ form.csrf_token }}

                  <div class="col-12">
                    <input name="name" class="form-control" placeholder="Name *" id="name" required>
                    {% if form.name.errors %}
                    <p class="text-danger">
                      {% for error in form.name.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <input type="email" name="email" placeholder="Email *" class="form-control" id="email" required value="{{ form.email.data|default('', true) }}">
                    <div class="invalid-feedback">Please enter your email.</div>
                    {% if form.email.errors %}
                    <p class="text-danger">
                      {% for error in form.email.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <div class="input-group">
                      <input type="password" name="password" placeholder="Password *" class="form-control" id="password" required>
                      <i class="input-group-text bi bi-eye" id="togglePassword" style="cursor: pointer"></i>
                    </div>
                    <div class="invalid-feedback">Please enter a password!</div>
                    {% if form.password.errors %}
                    <p class="text-danger">
                      {% for error in form.password.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <div class="input-group">
                      <input type="password" name="password2" placeholder="Password *" class="form-control" id="password2" required>
                      <i class="input-group-text bi bi-eye" id="togglePassword2" style="cursor: pointer"></i>
                    </div>
                    <div class="invalid-feedback">Please enter a password again!</div>
                    {% if form.password2.errors %}
                    <p class="text-danger">
                      {% for error in form.password2.errors %}
                        {{ error }}<br/>
                      {% endfor %}
                    </p>
                    {% endif %}
                  </div>

                  <div class="col-12">
                    <small><i class="bi bi-info-circle"></i> Password must be at least 6 characters.</small>
                  </div>

                  <div class="col-12">
                    <input type="checkbox" name="policy" class="form-check-input" id="policy" required>
                    <span>I accept the 
                      <a href="https://pangea.org/aviso-legal/" target="_blank">terms</a> and 
                      <a href="https://pangea.org/es/politica-de-privacidad/" target="_blank">privacy policy</a>
                    </span>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Next</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Already have an account? <a href="{{ url_for('core.login') }}">Sign in</a>
                    </p>
                  </div>
                </form>
                {% else %}
                </div>
                <div class="col-12 p-4 text-center">
                  We have sent you a validation email.<br />
                  Please check your email.
                </div>
                {% endif %}

              </div>
            </div>

            <div class="credits">
              <a href="https://help.usody.com/en/getting-started/introduction/" target="_blank">Help</a> | 
              <a href="https://pangea.org/es/politica-de-privacidad/" target="_blank">Privacy</a> | 
              <a href="https://pangea.org/aviso-legal/" target="_blank">Terms</a>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
<script>
const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#password');

togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    // toggle the eye slash icon
    if(type == "password"){
    this.classList.remove('bi-eye-slash');
    this.classList.add('bi-eye');
    } else if(type == "text"){
    this.classList.remove('bi-eye');
    this.classList.add('bi-eye-slash');
    }
    password.setAttribute('type', type);
});

const togglePassword2 = document.querySelector('#togglePassword2');
const password2 = document.querySelector('#password2');

togglePassword2.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    // toggle the eye slash icon
    if(type == "password"){
    this.classList.remove('bi-eye-slash');
    this.classList.add('bi-eye');
    } else if(type == "text"){
    this.classList.remove('bi-eye');
    this.classList.add('bi-eye-slash');
    }
    password2.setAttribute('type', type);
});
</script>{% endblock body %}
