# Please fill in these three variables
API_DLT='{ONE_URL}'
API_DLT_TOKEN='{ONE_TOKEN}'
API_RESOLVER='{ONE_URL}'

# Database Variables
DB_USER='dhub'
DB_PASSWORD='ereuse'
DB_HOST='localhost'
DB_DATABASE='dpp'
SCHEMA='dbtest'
DB_SCHEMA='dbtest'

# TODO this should be guessed by DEVICEHUB_HOST, and avoid hardcode of ID_FEDERATED
SERVER_ID_FEDERATED='DH12'
CLIENT_ID_FEDERATED='DH20'
URL_MANUALS='http://localhost:4000'

#SERVER_ID_DEVICEHUB_HOST='http://devicehub-server-id.example.com'
SERVER_ID_DEVICEHUB_HOST='http://localhost:5000'
#CLIENT_ID_DEVICEHUB_HOST='http://devicehub-client-id.example.com'
CLIENT_ID_DEVICEHUB_HOST='http://localhost:5001'
SERVER_ID_SERVICE='server_id'
CLIENT_ID_SERVICE='client_id'
HOST='localhost'

EMAIL_DEMO='user@example.com'
PASSWORD_DEMO='1234'

JWT_PASS='7KU4ZzsEfe'
SECRET_KEY='ffa96bac894ccaa070c23dfe18fd900eda2eebcbd5dac8b34db9b54ecec81501'

# important to import snapshots (step 15)
#   rel path starts with ./
#SNAPSHOTS_PATH='./relpath/to/snapshots'
#   full path starts with /
SNAPSHOTS_PATH='/tmp/dhub_docker/snapshots'
