DB_USER='dhub'
DB_PASSWORD='ereuse'
DB_HOST='localhost'
DB_DATABASE='devicehub'
API_DLT='http://$IP_API_DLT'
API_DLT_TOKEN='$TOKEN'
API_RESOLVER='http://$IP_API_RESOLVER'
# TODO this should be guessed by DEVICEHUB_HOST, and avoid hardcode of ID_FEDERATED
ID_FEDERATED='$ID'
URL_MANUALS='http://$IP_MANUALS'

#SERVER_ID_DEVICEHUB_HOST='http://devicehub-server-id.example.com'
SERVER_ID_DEVICEHUB_HOST='http://localhost:5000'
#CLIENT_ID_DEVICEHUB_HOST='http://devicehub-client-id.example.com'
CLIENT_ID_DEVICEHUB_HOST='http://localhost:5001'
SERVER_ID_SERVICE='server_id'
CLIENT_ID_SERVICE='client_id'
HOST='localhost'

SCHEMA='dbtest'
DB_SCHEMA='dbtest'

EMAIL_DEMO='user@example.org'
PASSWORD_DEMO='changeme'

JWT_PASS='changeme'
SECRET_KEY='changeme'

# important to import snapshots (step 15)
#   rel path starts with ./
#SNAPSHOTS_PATH='./relpath/to/snapshots'
#   full path starts with /
SNAPSHOTS_PATH='/fullpath/to/snapshots'
