<div class="modal fade" id="addingTagModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Adding to a unique identifier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="{{ url_for('inventory.tag_devices_add', dhid=device.devicehub_id) }}" method="post">
        <div class="modal-body">
          Please write a name of a unique identifier
          {% for f in form_tag_device %}
          {{ f }}
          {% endfor %}
          <p class="text-danger pol">
              You need select first one device and only one for add this in a unique identifier
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" style="display: none;" value="Save changes" />
        </div>
      </form>

    </div>
  </div>
</div>
