<div class="modal fade" id="addingLotModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adding to a lot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please write a name of a lot
        <select class="form-control selectpicker" id="selectLot" data-live-search="true">
          {% for lot in lots %}
          <option value="{{ lot.id }}">{{ lot.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#selectLot').selectpicker();
});
</script>
