<!-- Modal -->
<div class="modal fade" id="confirmLotsModal" tabindex="-1" role="dialog" aria-labelledby="confirmLotsModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm lots changes</h5>
            </div>
            <div class="modal-body">
                IF THIS TEXT APEARS THERE HAS AN ERROR
            </div>
            <div class="modal-footer">
                <button type="button" onclick="$('#confirmLotsModal').modal('hide');" class="btn btn-secondary"
                    style="margin-right: auto;" data-dismiss="#confirmLotsModal">Cancel</button>
                <button type="button" class="btn btn-primary" id="SaveAllActions">Save changes</button>
            </div>
        </div>
    </div>
</div>