{% extends "ereuse_devicehub/base_site.html" %}
{% block main %}

<div class="pagetitle">
  <h1>Inventory</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('inventory.devicelist')}}">Inventory</a></li>
      <li class="breadcrumb-item active">{{ page_title }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <h3>{{ device.devicehub_id }}</h3>
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            {% if placeholder %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('inventory.device_details', id=placeholder.device.devicehub_id) }}">Placeholder device</a>
            </li>
            {% else %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#type">General details</button>
            </li>
            {% endif %}

            {% if placeholder.binding %}
            <li class="nav-item">
              <a class="nav-link" href="{# url_for('inventory.device_details', id=placeholder.binding.devicehub_id) #}">Workbench device</a>
            </li>
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="{{ device.public_link }}" target="_blank">Web</a>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#lots">Lots</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#status">Status</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#rate">Rate</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#traceability">Traceability log</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#components">Components</button>
            </li>

           {% if device.is_abstract() == 'Abstract' %}
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#binding">Binding</button>
            </li>
            {% endif %}

           {% if device.is_abstract() == 'Twin' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('inventory.unbinding', phid=placeholder.phid) }}">Unbinding</a>
            </li>
            {% endif %}

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade {% if active_binding %}profile-overview{% else %}show active{% endif %}" id="type">
              <h5 class="card-title">Details</h5>
              {% if device.placeholder %}
              <div class="row mb-3">
                <div class="col-lg-3 col-md-4 label ">
                  (<a href="{{ url_for('inventory.device_edit', id=device.devicehub_id)}}">Edit Device</a>)
                </div>
                <div class="col-lg-9 col-md-8">{{ device.is_abstract() }}</div>
              </div>
              {% endif %}

              {% if device.placeholder %}
              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Phid</div>
                <div class="col-lg-9 col-md-8">{{ device.placeholder.phid }}</div>
              </div>
              {% endif %}

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Type</div>
                <div class="col-lg-9 col-md-8">{{ device.type }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Manufacturer</div>
                <div class="col-lg-9 col-md-8">{{ device.manufacturer or ''}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Model</div>
                <div class="col-lg-9 col-md-8">{{ device.model or ''}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Serial Number</div>
                <div class="col-lg-9 col-md-8">{{ device.serial_number or ''}}</div>
              </div>
            </div>

            <div class="tab-pane fade profile-overview" id="lots">
              <h5 class="card-title">Incoming Lots</h5>

              <div class="row">
              {% for lot in device.lots %}
                {% if lot.is_incoming %}
                <div class="col">
                  <a class="ms-3" href="{{ url_for('inventory.lotdevicelist', lot_id=lot.id) }}">
                    <span>{{ lot.name }}</span>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
              </div>

              <h5 class="card-title">Outgoing Lots</h5>

              <div class="row">
              {% for lot in device.lots %}
                {% if lot.is_outgoing %}
                <div class="col">
                  <a class="ms-3" href="{{ url_for('inventory.lotdevicelist', lot_id=lot.id) }}">
                    <span>{{ lot.name }}</span>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
              </div>

              <h5 class="card-title">Temporary Lots</h5>

              <div class="row">
              {% for lot in device.lots %}
                {% if lot.is_temporary %}
                <div class="col">
                  <a class="ms-3" href="{{ url_for('inventory.lotdevicelist', lot_id=lot.id) }}">
                    <span>{{ lot.name }}</span>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
              </div>
            </div>

            <div class="tab-pane fade profile-overview" id="status">
              <h5 class="card-title">Status Details</h5>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Physical State</div>
                <div class="col-lg-9 col-md-8">
                    {% if device.physical_status %}
                    {{ device.physical_status.type }}
                    {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Lifecycle State</div>
                <div class="col-lg-9 col-md-8">
                    {% if device.status %}
                    {{ device.status.type }}
                    {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Allocated State</div>
                <div class="col-lg-9 col-md-8">
                    {% if device.allocated_status %}
                    {{ device.allocated_status.type }}
                    {% endif %}
                </div>
              </div>
            </div>

            <div class="tab-pane fade profile-overview" id="rate">
              <h5 class="card-title">Rate Details</h5>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Rating</div>
                <div class="col-lg-9 col-md-8">{{ device.rate or '' }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Processor</div>
                <div class="col-lg-9 col-md-8">{{ device.rate.processor or '' }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">RAM</div>
                <div class="col-lg-9 col-md-8">{{ device.rate.ram or '' }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Data storage</div>
                <div class="col-lg-9 col-md-8">{{ device.rate.data_storage or '' }}</div>
              </div>
            </div>

            <div class="tab-pane fade profile-overview" id="traceability">
              <h5 class="card-title">Traceability log Details</h5>
              <div class="list-group col-6">
                {% for action in device.reverse_actions %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                  {{ action.type }} {{ action.severity }}
                  <small class="text-muted">{{ action.created.strftime('%H:%M %d-%m-%Y') }}</small>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="tab-pane fade profile-overview" id="components">
              <h5 class="card-title">Components Details</h5>
              {% if device.binding %}
              <div class="list-group col-6">
                {% for component in device.components|sort(attribute='type') %}
                <div class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ component.type }}</h5>
                    <small class="text-muted">{{ component.created.strftime('%H:%M %d-%m-%Y') }}</small>
                  </div>
                  <p class="mb-1">
                    {{ component.manufacturer }}<br />
                    {{ component.model }}<br />
                  </p>
                  <small class="text-muted">
                    {% if component.type in ['RamModule', 'HardDrive', 'SolidStateDrive'] %}
                      {{ component.size }}MB
                    {% endif %}
                  </small>
                </div>
                {% endfor %}
              </div>
              {% else %}
              <div class="col-6">
                  {{ device.placeholder.components or '' }}
              </div>
              {% endif %}
            </div>
            {% if device.is_abstract() %}
            <div class="tab-pane fade {% if active_binding %}show active{% else %}profile-overview{% endif %}" id="binding">
              <h5 class="card-title">Binding</h5>
              <div class="list-group col-6">
                <p>
                  Be careful, binding implies changes in the data of a device that affect its
                  traceability.
                </p>
              </div>
              <div class="list-group col-6">
                  <form action="{{ url_for('inventory.device_details', id=device.devicehub_id) }}" method="post">
                  {{ form_binding.csrf_token }}
                  {% for field in form_binding %}
                  {% if field != form_binding.csrf_token %}

                  <div class="col-12">
                      {{ field.label(class_="form-label") }}:
                      {{ field }}
                      {% if field.errors %}
                      <p class="text-danger">
                        {% for error in field.errors %}
                          {{ error }}<br/>
                        {% endfor %}
                      </p>
                      {% endif %}
                  </div>

                  {% endif %}
                  {% endfor %}
                  <div class="col-12 mt-2">
                      <input type="submit" class="btn btn-primary" value="Search" />
                  </div>
                  </form>
              </div>
            </div>
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
