<!DOCTYPE html>
<html>
<head>
<title>Data Sanitization Certificate</title>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT"
          crossorigin="anonymous">
<style type="text/css" media="all">
  @page {
    size: A4 portrait; /* can use also 'landscape' for orientation */
    margin: 1.0cm 1.5cm 3.5cm 1.5cm;

    @top {
      content: element(header);
    }

    @bottom {
      content: element(footer);
    }

  }
  body {
    width: 100% !important;
    height: 100%;
    background: #fff;
    color: black;
    font-size: 100%;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none; 
  }

  header {
    position: running(header);
    /*height: 100px;*/
    font-size: 12px;
    /* color: #000; */
    font-family: Arial;
    width: 100%;
    /* position: relative;*/
  }

  footer {
    position: running(footer);
    /*height: 150px;*/
  }
  
  .body_content {
     position: relative;
     page-break-inside: auto;
     width: 100%;
     /*overflow: hidden;*/
  }

  img {max-height: 150px; width: auto;}
  .company-logo {float: left;}
  .customer-logo {float: right;}
</style>
</head>
<body>
  <header class="page-header">
    <div class="col" style="background-color: #d5a6bd;">
      <p style="margin-left: 10px;">2022-12-26 16:51:32 (+0100), USODY DRIVE ERASURE 2022</p>
    </div>
  </header>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img class="company-logo" src="https://ksr-ugc.imgix.net/assets/003/488/267/210c162995de80609124abf81047bca7_original.png?ixlib=rb-4.0.2&w=700&fit=max&v=1427136681&auto=format&frame=1&q=92&s=eb4411c5e9d3557ffa64598ac3b238a6" />
    </div>
    <div class="col-6">
      <img class="customer-logo" src="https://e7.pngegg.com/pngimages/243/790/png-clipart-your-company-logo-doing-business-as-company-logo-name-creative-company-logo-free-logo-design-template-text.png" />
    </div>
  </div>
</div>

<div class="container body-content">
  <div class="row mt-3">
    <div class="col">
      <h1>Data Sanitization Certificate</h1>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-12">
      <strong>Entity Information</strong>
    </div>
    <div class="col-12">
      <table class="body_content">
        <tbody>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              Name:
            </td>
            <td style="width:80%;">
              ACME
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              Location:
            </td>
            <td style="width:80%;">
              <span>Paseo de Gracia, 2, 08007 Barcelona, España</span>
            </td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <div class="col-12">
      <strong>Responsible Sanitization Entity</strong>
    </div>
    <div class="col-12">
      <table class="body_content">
        <tbody>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Name:</span>
            </td>
            <td style="width:80%;">
              <span>Your company</span>
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Responsible Person</span>
            </td>
            <td style="width:80%;">
              <span>John Data</span>
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Location:</span>
            </td>
            <td style="width:80%;">
              <span>Madrid, Gran Via 8, 28040 Madrid, España</span>
            </td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <div class="col-12">
      <strong>Summary</strong>
    </div>
    <div class="col-12">
      <table class="body_content">
        <tbody>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>N&deg; of computers:</span>
            </td>
            <td style="width:80%;">
              <span>16</span>
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>N&deg; of data storage unit(s):</span>
            </td>
            <td style="width:80%;">
              <span>16</span>
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Sanitization result:</span>
            </td>
            <td style="width:80%;">
              <span>Failed</span>
            </td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row" style="padding-top: 20px;">
    <div class="col-12">
      <strong>Report Details</strong>
    </div>
    <div class="col-12">
      <table class="body_content">
        <tbody>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Report UUID:</span>
            </td>
            <td style="width:80%;">
              <span>8bcef704-ba04-4320-8056-c8a5c401dbe3</span>
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Report Date:</span>
            </td>
            <td style="width:80%;">
              <span>2022-12-26 11:26:24</span>
            </td>
          </tr>
          <tr style="padding-top:5px;">
            <td style="width:20%;">
              <span>Software Version:</span>
            </td>
            <td style="width:80%;">
              <span>Usody Drive Erasure 2022.03.0</span>
            </td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row" style="margin-top:25px;">
    <div class="col">
      <p>
        I hereby declare that the data erasure process has been carried 
        out in accordance with the instructions received.
      </p>
    </div>
  </div>

  <div class="row" style="margin-top:225px;">
    <div class="col-12">
      <table class="body_content" style="border-top: 1px solid #000;">
        <tbody>
          <tr style="padding-top:5px;">
            <td style="width:50%; text-align: center;">
              <span>Data Responsable</span>
            </td>
            <td style="width:50%; text-align: center;">
              <span>Data Supervisor</span>
            </td>
          </tr>
      </table>
    </div>
  </div>

  <p style="break-before: page;"></p>

  <div class="row mt-3">
    <div class="col">
      <h1>Devices Summary</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table" style="width: 100%; text-align: center;">
        <thead style="border-bottom: 1px solid #000;">
          <tr>
            <th scope="col">SN Storage</th>
            <th scope="col">Method</th>
            <th scope="col">Result</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for erasure in erasures %}
          <tr style="border-bottom: 1px dashed #000;">
            <td>
              {{ erasure.device.serial_number.upper() }}
            </td>
            <td>
              {{ erasure.type }}
            </td>
            <td>
              {{ erasure.severity }}
            </td>
            <td>
              {{ erasure.date_str }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<p style="break-before: page;"></p>
<div class="container mb-5">
  <div class="row mt-3">
    <div class="col">
      <h1>1927E18B43F4</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2">
      <span>Result</span>
    </div>
    <div class="col">
      <span>Failed</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <strong>Storage Drive</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2">
          <span>Manufacturer:</span>
        </div>
        <div class="col">
          <span>Crucial</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Model:</span>
        </div>
        <div class="col">
          <span>CT240BX500ssd1</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>SN:</span>
        </div>
        <div class="col">
          <span>1927E18B43F4</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Storage Medium:</span>
        </div>
        <div class="col">
          <span>SSD</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Connector:</span>
        </div>
        <div class="col">
          <span>SAS</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Size:</span>
        </div>
        <div class="col">
          <span>240GB</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <strong>Method</strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2">
          <span>Name:</span>
        </div>
        <div class="col">
          <span>Baseline</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Standard:</span>
        </div>
        <div class="col">
          <span>NIST SP-800-88</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Removal process:</span>
        </div>
        <div class="col">
          <span>Overwriting</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Program:</span>
        </div>
        <div class="col">
          <span>Shred</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Verification status:</span>
        </div>
        <div class="col">
          <span>No</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Detected bad sectors:</span>
        </div>
        <div class="col">
          <span>-</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Hidden areas:</span>
        </div>
        <div class="col">
          <span>No</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Warnings:</span>
        </div>
        <div class="col">
          <span>No</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <strong>Overwriting steps</strong>
        </div>
        <div class="col">
          <span>1 (0)</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Step:</span>
        </div>
        <div class="col">
          <span>1</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Date Init:</span>
        </div>
        <div class="col">
          <span>2022-12-20 11:00:24</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Date End:</span>
        </div>
        <div class="col">
          <span>2022-12-20 11:26:24</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span>Duration:</span>
        </div>
        <div class="col">
          <span>0:26:00</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>