<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Device {{ result.result.data.hardware.device.dhid }} - Usody</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- JS Files -->
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/devicehub.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<main>

<section class="container mt-3">
  <div class="row">

      <div class="col">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body">
              <h3 class="nav-link mt-5" style="color: #993365">
                {{ result.result.data.hardware.device.type }} - 
                {{ result.result.data.hardware.device.manufacturer }} 
                {{ result.result.data.hardware.device.model }}
              </h3>
              <div class="row">
                <div class="col-12">
                    This is the info for Digital Passport:<br />
                    {{ result.result.data.dpp }}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h5 class="card-title">Device</h5>
                  {% for key, value in result.result.data.hardware.device.items() %}
                  <div class="row">
                    <div class="col">
                      {{ key }}
                    </div>
                    <div class="col">
                      {{ value or '' }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <h5 class="card-title">Components</h5>
                  {% for component in result.result.data.hardware.components %}
                    {% for key, value in component.items() %}
                    <div class="row">
                      <div class="col">
                        {{ key }}
                      </div>
                      <div class="col">
                        {{ value or '' }}
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>

              {% if result.result.data.url_last %}
              <div class="row">
                <div class="col-12">
                  <h5 class="card-title">Last Dpp</h5>
                  <div class="row">
                    <div class="col-12">
                      <a href="{{ result.result.data.url_last }}">Last Dpp</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
  </div>
</section>

</main>
<!-- ======= Footer ======= -->
<div class="container">
  <div class="row">
    <div class="col">
      <footer class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Usody</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <a href="https://help.usody.com/en/" target="_blank">Help</a> | 
          <a href="https://www.usody.com/legal/privacy-policy" target="_blank">Privacy</a> | 
          <a href="https://www.usody.com/legal/terms" target="_blank">Terms</a>
        </div>
        <div class="credits">
          DeviceHub
        </div>
      </footer><!-- End Footer -->
    </div>
  </div>
</div>
</body>

</html>
