{% extends "ereuse_devicehub/base_site.html" %}
{% block main %}

<div class="pagetitle">
  <h1>Inventory</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('labels.label_list')}}">Unique Identifier management</a></li>
      <li class="breadcrumb-item active">Unique Identifier details {{ tag.id }}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section profile">
  <div class="row">

    <div class="col-xl-12">

      <div class="card">
        <div class="card-body pt-3">
          <h3>{{ tag.id }}</h3>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active" id="type">
              <h5 class="card-title">Type Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Type</div>
                <div class="col-lg-9 col-md-8">{% if tag.provider %}UnNamed Unique Identifier{% else %}Named Unique Identifier{% endif %}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Device</div>
                <div class="col-lg-9 col-md-8">
                    {% if tag.device %}
                      <a href="{{url_for('inventory.device_details', id=tag.device.devicehub_id)}}">
                          {{ tag.device.verbose_name }}
                      </a>
                    {% endif %}
                </div>
              </div>

              <h5 class="card-title">Print Label</h5>
              <div class="row">
                <div class="col-lg-3 col-md-4">
                  <div style="width:256px; min-height:148px; border: solid 1px; padding: 10px;">
                    <div id="print">
                      <div class="row">
                        <div class="col qr">
                          <div id="{{ tag.id }}"></div>
                        </div>
                        <div class="col dhid">
                          <div style="padding-top: 55px">
                            {% if tag.device %}
                              <b class="tag" data-serial-number="{{ tag.device.serial_number or '' }}"
                                  data-manufacturer="{{ tag.device.manufacturer or '' }}"
                                  data-model="{{ tag.device.model or '' }}">{{ tag.id }}</b>
                            {% else %}
                              <b class="tag" data-serial-number=""
                                  data-manufacturer=""
                                  data-model="">{{ tag.id }}</b>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      {% if tag.device %}
                      <div class="row serial_number" style="display: none">
                        <div class="col">
                          <div>
                              <b>{{ tag.device.serial_number or '' }}</b>
                          </div>
                        </div>
                      </div>
                      <div class="row manufacturer" style="display: none">
                        <div class="col">
                          <div>
                              <b>{{ tag.device.manufacturer or '' }}</b>
                          </div>
                        </div>
                      </div>
                      <div class="row model" style="display: none">
                        <div class="col">
                          <div>
                              <span style="font-size: 12px;">{{ tag.device.model or '' }}</span>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-6 label">
                  <label class="col-form-label col-sm-2">Size</label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <select class="form-select" id="printerType">
                        <option label="Brother small size (62 x 29)" value="brotherSmall" selected="selected">
                          Brother small size (62 x 29)
                        </option>
                        <option label="Printer tag small (97 x 59)" value="smallTagPrinter">
                          Printer tag small (97 x 59)
                        </option>
                      </select>
                    </div>
                  </div>
                  <label class="col-form-label col-sm-2">Width</label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <input class="form-control" id="width-tag" name='width-tag' type="number" value="62" min="52" max="300" />
                      <span class="input-group-text">mm</span>
                    </div>
                  </div>
                  <label class="col-form-label col-sm-2">Height</label>
                  <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <input class="form-control" id="height-tag" name='height-tag' type="number" value="29" min="28" max="200" />
                      <span class="input-group-text">mm</span>
                    </div>
                  </div>
                  {% if tag.device %}
                  <div class="col-sm-10">
                    <div class="form-switch">
                      <input class="form-check-input" name="qr" type="checkbox" id="qrCheck" checked="">
                      <label class="form-check-label" for="qrCheck">QR</label>
                    </div>
                    <div class="form-switch">
                      <input class="form-check-input" name="dhid" type="checkbox" id="dhidCheck" checked="">
                      <label class="form-check-label" for="dhidCheck">Unique Identifier</label>
                    </div>
                    <div class="form-switch">
                      <input class="form-check-input" name="serial_number" type="checkbox" id="serialNumberCheck">
                      <label class="form-check-label" for="serialNumberCheck">Serial number</label>
                    </div>
                    <div class="form-switch">
                      <input class="form-check-input" name="manufacturer" type="checkbox" id="manufacturerCheck">
                      <label class="form-check-label" for="manufacturerCheck">Manufacturer</label>
                    </div>
                    <div class="form-switch">
                      <input class="form-check-input" name="model" type="checkbox" id="modelCheck">
                      <label class="form-check-label" for="modelCheck">Model</label>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row mt-5">
                    <div class="col-lg-3 col-md-4">
                        <a href="javascript:printpdf()" class="btn btn-success">Print labels</a>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="javascript:save_settings()" class="btn btn-primary">Save settings</a>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="javascript:reset_settings()" class="btn btn-danger">Reset settings</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>
<script src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
<script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/print.pdf.js') }}"></script>
<script type="text/javascript">
    qr_draw("{{url_for('inventory.device_details', id=tag.device.devicehub_id, _external=True)}}", "#{{ tag.id }}");
</script>
{% endblock main %}
